* {
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
}

body {
    background-color: #101414;
    color: white;
    padding-top: 50px;
}

footer {
    text-align: center;
    border-top: 2px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}

#accueil, #projects {
    scroll-margin-top: 100px;
}

.logo {
    height: 50px;
    width: 94px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #101414;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.btnNav {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.btnNav:hover {
    color: red;
}

.infoBar {
    background: linear-gradient(90deg, #210d0e, #700606);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3rem;
}

.infoBar h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.infoBar p {
    font-size: 20px;
}

.titre {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid red;
    padding: 0px 0px 10px 0px;
}

.presentation {
    font-family: Arial, Helvetica, sans-serif;
}

.presentation, .projects {
    margin: 80px 270px;
}

.presentation p, .projects p {
    font-size: 20px;
    padding-top: 30px;
}

.projects-box {
    border: 2px solid white;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.project-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.tag {
    background-color: #700606;
    border-radius: 50px;
    padding: 10px;
}

.project-desc {
    border-bottom: 2px solid white;
    padding: 10px;
}

.project-desc::before {
    content: "";
    display: block;
    width: 99%;
    margin: 5px auto 0;
    border-top: 2px solid white;
}

.project-img.active{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.project-img {
    display: none;
}

img {
    max-width: 70%;
    height: auto;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    padding: 10px;
    background-color: #700606;
    color: white;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.project-btn { /* div pour pouvoir placer mon btn pour test le jeu */
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.playBtn {
    background-color: #700606;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
}

.logoBtn {
    margin: 0px 10px;
    text-decoration: none;
}

.logoBtn img {
    height: 50px;
    width: auto;
    margin-top: 20px;
}



@media screen and (max-width: 960px) {

    nav {
        z-index: 1000;
        background-color: #1a2121;
    }

    .presentation, .projects {
        width: 95%;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
